
.js-mobile-menu nav ul li a.active {
    color: #8358ff !important;
}

.w-screen {
    width: 100vw;
}

.text-white {
    color: white !important; /* Mengubah warna teks menjadi putih */
}

.navbar-dark {
    background-color: #13174070 !important;
}

.text-title {
    font-size: 3.5rem;
}

@media (max-width: 768px) {
    .tabnav-save-area {
        margin-left: 6rem;
    }
}

@media (max-width: 1024px) {
    .text-title {
        font-size: 3rem;
    }
}

@media (max-width: 768px) {
    .text-title {
        font-size: 2.5rem;
    }
}